{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/slide1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/slide2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <h1>Dernières figures ajoutées :</h1>

    <main>

        {% for trick in tricks %}

            <div class="card">
                <img src="img/{{ trick.img }}" class="card-img-top" alt="Snowboard trick">
                <div class="card-body">
                    <h5 class="card-title">{{ trick.title }}</h5>
                    <h6>{{ trick.type }}</h6>
                    <p class="card-text">{{ trick.content | slice(0,100) }}</p>
                    <a href="{{ path('trick', {id: trick.id }) }}" class="btn btn-primary">Voir plus...</a>
                </div>
            </div>

        {% endfor %}

    </main>

{% endblock %}
