{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}

    <div class="card trick">
        <div class="card-header">
            <h1>{{ trick.title }}</h1>
        </div>
        <img src="../img/{{ trick.img }}" class="card-img-top" alt="{{ trick.title }}">
        <div class="card-body">
            <p class="text-right"><i class="far fa-clock"></i> Publié le: {{ trick.createdAt | date("d/m/Y") }}</p>
            <p class="text-left">Type de figure : {{ trick.type }}</p>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Voir les vidéos
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body video">
                        <iframe src="{{ trick.video }}"
                                frameborder="0" allow=" encrypted-media" allowfullscreen=""></iframe>
                    </div>
                </div>
            </p>
            <h2>Description :</h2>
            <p class="card-text">{{ trick.content }}</p>
        </div>
    </div>

{% endblock %}