{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}

    <main class="w-100">
        <div class="card trick">
            <div class="card-header">
                <h1>{{ trick.title }}</h1>
            </div>
            <img src="../img/{{ trick.img }}" class="card-img-top" alt="{{ trick.title }}">
            <div class="card-body">
                <p class="text-right"><i class="far fa-clock"></i> Publié le: {{ trick.createdAt | date("d/m/Y") }}</p>
                <p class="text-left">Type de figure : <a href="{{ path('typeTricks', {typeId: trick.typeId.id}) }}">{{ trick.typeId.name }}</a></p>
                    <button class="btn btn-primary m-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Voir les vidéos
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body video">
                            <iframe src="{{ trick.video }}"
                                    frameborder="0" allow=" encrypted-media" allowfullscreen="">
                            </iframe>
                        </div>
                    </div>
                <h2>Description :</h2>
                <p class="card-text text-justify">{{ trick.content }}</p>
                {% if app.user %}
                    <p>
                        <a href="{{ path('update', {id: trick.id}) }}" title="Modifier">
                            <i class="fas fa-pen fa-2x"></i>
                        </a>
                        <a href="{{ path('removeTrick', {id: trick.id}) }}" title="Supprimer">
                             <i class="fas fa-trash-alt fa-2x"></i>
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </main>

    <h3>Commentaires :</h3>

    <section>
        {% if not app.user %}
            <h4 class="text-center">Pour laisser un commentaire,
                <a href="{{ path('registration') }}" class="ml btn btn-dark">Inscrivez-vous</a>
                ou
                <a href="{{ path('connection') }}" class="ml btn btn-dark">Connectez-vous</a>
            </h4>
        {% else %}
            <form class="form" method="post" action="{{ path('createComment',{'id' : trick.id}) }}">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <label for="comment" class="input-group-text" id="addon-wrapping">Ecrire un commentaire</label>
                    </div>
                    <textarea id="content" class="form-control" aria-label="content" name="content"
                              aria-describedby="addon-wrapping" rows="4" cols="20" required>
                    </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        {% endif %}

        {% for comment in trick.comments | sort((a, b) => b.createdAt <=> a.createdAt) %}
            {% if comment.status == 'published' %}
                <div class="card comment comment-show">
                    <div class="flex-sb">
                        <h4 class="card-header">Posté par : <strong>{{ comment.user.username }}</strong>,
                            le {{ comment.createdAt | date("d/m/Y à g:i") }}
                        </h4>
                    </div>
                    <div class="card-body d-flex justify-content-between">
                        <p class="card-text">{{ comment.content }}</p>
                        {% if app.user %}
                            <a href="{{ path('reportComment',{'id': comment.id, 'trickId': trick.id}) }}" class="btn btn-secondary">
                                Signaler commentaire
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if trick.comments is empty %}
            <h5 class="text-center mt-5">Pas de commentaires pour le moment...</h5>
        {% else %}
            <button class="btn btn-primary" id="loadMoreComment">afficher plus</button>
        {% endif %}

    </section>

{% endblock %}