{% extends 'base.html.twig' %}

{% block title %}{{ type.name }}{% endblock %}

{% block body %}

    <h1>Toutes les figures du type {{ type.name }}:  </h1>

    <main class="d-flex">

        {% include 'tricksSelector.html.twig' %}

        <div class="d-flex flex-wrap justify-content-around w-100">
            {% if typeTricks is empty %}
                <div>
                    <h2 class="text-center mt-5">Pas encore de tricks de ce type...</h2>
                </div>
            {% else %}
            {% for trick in typeTricks %}
                <div class="card">
                    <img src="../img/{{ trick.img }}" class="card-img-top" alt="Snowboard trick">
                    <div class="card-body d-flex justify-content-between flex-column">
                        <h5 class="card-title text-center">
                            <a href="{{ path('trick', {id: trick.id }) }}">{{ trick.title }}</a>
                        </h5>
                        <h6>{{ trick.typeId.name }}</h6>
                        <p class="card-text">
                            <i class="far fa-clock"></i> Publié le: {{ trick.createdAt | date("d/m/Y") }}
                        </p>
                        <a href="{{ path('trick', {id: trick.id }) }}" class="btn btn-primary">Voir plus...</a>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </main>

{% endblock %}